:local(.loginContainer){
  display:flex;
  height:100%;
  width:100%;
  flex-direction:column;
  :local(.header){
    display:flex;
    max-height:235px;
    overflow:hidden;
    img{
      height:100%;
      width:100%;
    }
    :local(.title){
      width:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      position:absolute;
      top:70px;
      font-size:60px;
      color:#ffffff;
      font-weight:600;
      i{
        height:60px;
        margin-right:20px;
      }
    }
  }
  :local(.content){
    margin-top:40px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    :local(.row){
      position:relative;
      margin-bottom:15px;
      .ant-input{
        height:46px;
        width:300px;
      }
      .ant-btn{
        height:46px;
        width:300px;
      }
      :local(.warning){
        padding-left:1em;
        position:absolute;
        height:46px;
        line-height:46px;
        color:red;
        width:300px;
      }
      :local(.check){
        position:absolute;
        padding-left:1em;
        height:46px;
        font-size:18px;
        line-height:46px;
        color:#32CD32;
      }
    }

  }
}