:local(.settingContainer){
  height:100%;
  width:100%;
  display:flex;
  :local(.leftTab){
    width:16%;
    height:100%;
    display:flex;
    flex-direction:column;
    background-color:#f7f7f7;
    border-right:1px solid #e9e9e9;
    :local(.title){
      height:50px;
      padding-left:47px;
      display:flex;
      align-items:center;
      font-size:14px;
      color:#9b9b9b;
    }
    :local(.row){
      height:50px;
      color:#4a4a4a;
      display:flex;
      align-items:center;
      padding-left:47px;
      cursor:pointer;
      i{
        color:#3798e9;
        margin-right:5px;
      }
      &:hover{
        background-color:white;
      }
    }
  }
  :local(.rightContent){
    width:84%;
    height:100%;
    padding:40px;
    display:flex;
    flex-direction:column;
    :local(.title){
      background-color:#f9f9f9;
      height:40px;
      padding-left:10px;
      font-size:16px;
      color:#333;
      font-weight:500;
      display:flex;
      align-items:center;
      width:90%;
      justify-content:space-between;
    }
    :local(.content){
      width:90%;
      diplay:flex;
      flex-directon:column;
      margin-bottom:30px;
      :local(.row){
        margin-top:20px;
        padding-left:10px;
        display:flex;
        :local(.label){
          color:#999;
          width:150px;
          margin-right:5px;
        }
        :local(.value){
          display:flex;
          align-items:center;
          width: calc(100% - 155px);
          i{
            cursor:pointer;
            margin-left:10px;
            &:hover{
              color:#3798e9;
            }
          }
          .ant-input{
            resize:none;
          }
        }
      }
    }
    :local(.bottom){
      width:90%;
      margin-bottom:10px;
      display:flex;
      align-items:center;
      justify-content:flex-end;
      :local(.delete){
        cursor:pointer;
        &:hover{
          color:#3798e9;
        }
        i{
          margin-right:10px;
        }
      }

    }
  }
}